.edit-popup form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-popup label {
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-popup input,
.edit-popup textarea {
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-popup button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#save-btn {
    background-color: #4CAF50;
}

#save-btn:hover {
    background-color: #45a049;
}

#cancel-btn {
    background-color: #c30000;
}

#cancel-btn:hover {
    background-color: #dc4b4b;
}
